@font-face {
	font-family: "CeraProBold";
	src: local("CeraProBold"),
	url("../../assets/fonts/CeraProBold.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "CeraProMedium";
	src: local("CeraProMedium"),
	url("../../assets/fonts/CeraProMedium.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #eb0c3c;
	color: white;
	overflow: hidden;
}

a {
	text-decoration: none;
}

.banner {
	margin: 6rem;
}

.text-box {
	display: inline-block;
	position: relative;
	margin-top: 100px;
}

.text-box .banner-header {
	display: inline-block;
	position: absolute;
	top: 300px;
	transform: rotateX(-90deg);
	opacity: 0;
	text-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
	animation-timing-function: ease-in;
	font-family: CeraProBold;
	font-weight: 700;
	line-height: 90px;
	font-size: 80px;
}

.text-box .banner-header:nth-child(1) {
	width: 700px;
	animation: rollDown 15s forwards infinite;
}

.text-box .banner-header:nth-child(2) {
	width: 500px;
	animation: rollDown2 15s forwards infinite;
}

.text-box .banner-header:nth-child(3) {
	width: 800px;
	animation: rollDown3 15s forwards infinite;
}

@keyframes rollDown {
	0% {
		top: -200px;
		transform: rotateX(-90deg);
	}
	11% {
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	22% {
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	33% {
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown2 {
	33% {
		top: -200px;
		transform: rotateX(-90deg);
	}
	44% {
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	55% {
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	66% {
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown3 {
	66% {
		top: -200px;
		transform: rotateX(-90deg);
	}
	77% {
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	88% {
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	99% {
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}


.description {
	position: relative;
	margin-top: 180px;
}

.description {
	font-family: CeraProMedium;
	width: 600px;
	height: 40px;
	font-weight: 500;
	font-size: 32px;
	line-height: 40px;
}

.perks {
	font-family: CeraProMedium;
	display: block;
	
}

.perks, .connect {
	font-family: CeraProMedium;
	width: 447px;
	height: 23px;
	z-index: 999999;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
}

.social-media {
	font-family: CeraProMedium;
	bottom: 18%;
	/*font-size: 18px;*/
	background-color: #eb0c3c;
	z-index: 999;
}

.social-icons {
	width: 24px;
	height: 24px;
	background-color: #eb0c3c;
}

.subscribe {
	z-index: 999999;
	bottom: 20%;
	left: 55%;
	width: 80%;
}

.subscribe-form {
	background-color: #fff;
	max-width: 400px;
	border-start-start-radius: 50px;
	border-bottom-left-radius: 50px;
	display: inline-flex;
	width: 100%;
	padding: 0.62rem 0.95rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	color: #404040;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	appearance: none;
	outline: none;
}

.subscribe-button {
	background-color: #fcec12;
	max-width: 120px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	margin-left: -2px;
	width: 100%;
	padding: 0.675rem 0.85rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	border: 1px solid #fcec12;
	appearance: none;
	outline: none;
	transition: white 0.15s ease-in-out;
}

.toiletries {
	right: 410px;
	top: -140px;
	width: 320px;
	height: 320px;
}

.carbonated-drink {
	right: 170px;
	top: -150px;
	width: 350px;
	height: 480px;
}

.snack {
	right: 10px;
	top: 70px;
	width: 450px;
	height: 450px;
}

.baby-food {
	right: -150px;
	top: -150px;
	width: 455px;
	height: 455px;
}

.paste {
	width: 400px;
	height: 400px;
	right: -220px;
	top: 170px;
}

.wine {
	right: -220px;
	bottom: -80px;
	width: 480px;
	height: 480px;
}

.eggs {
	width: 335px;
	height: 335px;
	bottom: 10px;
	right: 170px;
}

.pasta {
	width: 500px;
	height: 500px;
	right: -50px;
	bottom: -280px;
}

.condom {
	width: 300px;
	height: 300px;
	right: 300px;
	bottom: -150px;
}

@media screen and (max-width: 1220px) {
	.text-box .banner-header {
		top: 300px;
		font-size: 70px;
		z-index: 99999;
	}
	
	.text-box .banner-header:nth-child(1) {
		width: 600px;
		animation: rollDown 15s forwards infinite;
	}
	
	.text-box .banner-header:nth-child(3) {
		width: 600px;
		animation: rollDown3 15s normal infinite;
	}
	
	.subscribe {
		left: 58%;
		bottom: 19.3%;
		margin-left: 0;
	}
	
	.subscribe-form {
		max-width: 300px;
	}
	
	.subscribe-button {
		max-width: 100px;
	}
	
	.toiletries {
		right: 230px;
		top: -18%;
		width: 300px;
		height: 300px;
	}
	
	.carbonated-drink {
		right: 60px;
		top: -130px;
		width: 270px;
		height: 410px;
	}
	
	.snack {
		right: -50px;
		top: 80px;
		width: 410px;
		height: 410px;
	}
	
	.baby-food {
		right: -170px;
		top: -70px;
		width: 370px;
		height: 370px;
	}
	
	.paste {
		width: 320px;
		height: 320px;
		right: -180px;
		top: 240px;
	}
	
	.wine {
		bottom: -100px;
		right: -250px;
	}
	
	.eggs {
		bottom: 15px;
	}
	
	.pasta {
		right: -40px;
	}
	
	.condom {
		right: 250px;
	}
}

@media screen and (max-width: 992px) {
	.display-md-none {
		display: none !important;
	}
	
	.banner-header {
		position: absolute;
		top: 15%;
		height: 200px;
	}
	
	.perks {
		font-size: 14px;
		bottom: 44%;
	}
	
	.subscribe {
		bottom: 30%;
		left: 90px;
	}
	
	.subscribe-form {
		max-width: 300px;
	}
	
	.social-media {
		bottom: 26%;
	}
	
	.rotate {
		transform: rotate(25deg);
	}
	
	.paste {
		min-width: 400px;
		height: 400px;
		right: unset;
		top: unset;
		left: -20%;
		bottom: -20%;
	}
	
	.snack {
		left: 150px;
		top: unset;
		bottom: -25%;
		min-width: 450px;
		height: 450px;
	}
	
	.pasta {
		min-width: 700px;
		height: 600px;
		right: -60px;
		bottom: -40%;
	}
	
	.carbonated-drink {
		right: -18%;
		top: unset;
		bottom: -23%;
		min-width: 350px;
		height: 480px;
	}
}

@media screen and (max-width: 768px) {
	.logo {
		left: -50px;
	}
	
	.banner {
		margin-left: 3rem;
	}
	
	.text-box .banner-header {
		font-size: 70px;
		z-index: 99999;
		top: 100px;
		width: 246px;
	}
	
	.description {
		top: 38%;
		font-size: 18px;
		height: 46px;
	}
	
	.perks {
		font-size: 12px;
		width: 313px;
		height: 42px;
		top: 600px;
	}
	
	.subscribe {
		top: 480px;
		left: 45px;
	}
	
	.paste {
		min-width: 400px;
		height: 400px;
		left: -100px;
		bottom: -180px;
		transform: rotate(60deg);
	}
	
	.snack {
		right: -30px;
		top: unset;
		bottom: -150px;
		min-width: 150px;
		height: 400px;
	}
	
	.display-sm-none {
		display: none !important;
	}
	
	.carbonated-drink {
		right: -120px;
		min-width: 330px;
		height: 450px;
	}
}

@media screen and (max-width: 640px) {
	.text-box .banner-header {
		width: 50px;
	}
	
	.snack {
		right: -30px;
		top: unset;
		bottom: -100px;
		min-width: 100px;
		height: 330px;
	}
	
	.display-sm-none {
		display: none !important;
	}
	
	.carbonated-drink {
		right: -90px;
		min-width: 230px;
		height: 350px;
		bottom: -130px;
	}
}
